# Chapter 1: Getting Started with Python Polars

## The Polars DataFrame

In [153]:
import polars as pl

### How to do it...

In [154]:
df = pl.DataFrame({
    'nums': [1,2,3,4,5],
    'letters': ['a','b','c','d','e']
})
df.head()

shape: (5, 2)
┌──────┬─────────┐
│ nums ┆ letters │
│ ---  ┆ ---     │
│ i64  ┆ str     │
╞══════╪═════════╡
│ 1    ┆ a       │
│ 2    ┆ b       │
│ 3    ┆ c       │
│ 4    ┆ d       │
│ 5    ┆ e       │
└──────┴─────────┘

In [155]:
df = pl.read_csv('../data/titanic_dataset.csv')
df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [156]:
df.schema

Schema([('PassengerId', Int64),
        ('Survived', Int64),
        ('Pclass', Int64),
        ('Name', String),
        ('Sex', String),
        ('Age', Float64),
        ('SibSp', Int64),
        ('Parch', Int64),
        ('Ticket', String),
        ('Fare', Float64),
        ('Cabin', String),
        ('Embarked', String)])

In [157]:
df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [158]:
df.dtypes

[Int64,
 Int64,
 Int64,
 String,
 String,
 Float64,
 Int64,
 Int64,
 String,
 Float64,
 String,
 String]

In [159]:
df.shape

(891, 12)

In [160]:
df.height

891

In [161]:
df.width

12

In [162]:
df.flags

{'PassengerId': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Survived': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Pclass': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Name': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Sex': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Age': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'SibSp': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Parch': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Ticket': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Fare': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Cabin': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Embarked': {'SORTED_ASC': False, 'SORTED_DESC': False}}

### There is more...

In [163]:
import numpy as np

numpy_arr = np.array([[1,1,1], [2,2,2]])
df = pl.from_numpy(numpy_arr, schema={'ones': pl.Float32, 'twos': pl.Int8}, orient='col') 
df.head()

shape: (3, 2)
┌──────┬──────┐
│ ones ┆ twos │
│ ---  ┆ ---  │
│ f32  ┆ i8   │
╞══════╪══════╡
│ 1.0  ┆ 2    │
│ 1.0  ┆ 2    │
│ 1.0  ┆ 2    │
└──────┴──────┘

## The Polars Series

### How to do it...

In [164]:
s = pl.Series('col', [1,2,3,4,5])
s.head()

shape: (5,)
Series: 'col' [i64]
[
	1
	2
	3
	4
	5
]

In [165]:
data = {'a': [1,2,3], 'b': [4,5,6]}
s_a = (
    pl.DataFrame(data)
    .to_series()
)
s_a.head()

shape: (3,)
Series: 'a' [i64]
[
	1
	2
	3
]

In [166]:
s_b = (
    pl.DataFrame(data)
    .to_series(1)
)
s_b.head()

shape: (3,)
Series: 'b' [i64]
[
	4
	5
	6
]

In [167]:
s_b2 = (
    pl.DataFrame(data)
    .get_column('b')
)
s_b2.head()

shape: (3,)
Series: 'b' [i64]
[
	4
	5
	6
]

In [168]:
s.shape

(5,)

In [169]:
s.name

'col'

In [170]:
s.dtype

Int64

## The Polars LazyFrame

### How to do it...

In [171]:
data = {'name': ['Sarah',  'Mike', 'Bob', 'Ashley']}
lf = pl.LazyFrame(data) 
type(lf)

polars.lazyframe.frame.LazyFrame

In [172]:
lf.collect().head()

shape: (4, 1)
┌────────┐
│ name   │
│ ---    │
│ str    │
╞════════╡
│ Sarah  │
│ Mike   │
│ Bob    │
│ Ashley │
└────────┘

In [173]:
lf = pl.scan_csv('../data/titanic_dataset.csv')
lf.head().collect()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [174]:
df = pl.read_csv('../data/titanic_dataset.csv')
df.lazy().head(3).collect()

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [175]:
lf.collect_schema()

Schema([('PassengerId', Int64),
        ('Survived', Int64),
        ('Pclass', Int64),
        ('Name', String),
        ('Sex', String),
        ('Age', Float64),
        ('SibSp', Int64),
        ('Parch', Int64),
        ('Ticket', String),
        ('Fare', Float64),
        ('Cabin', String),
        ('Embarked', String)])

In [176]:
lf.collect_schema().len()

12

In [177]:
(
    lf
    .select(pl.col('Name', 'Age'))
    .show_graph()
)

In [178]:
(
    lf
    .select(pl.col('Name', 'Age'))
    .show_graph(optimized=False)
)

In [179]:
(
    lf
    .select(pl.col('Name', 'Age'))
    .explain()
)

'Csv SCAN [../data/titanic_dataset.csv]\nPROJECT 2/12 COLUMNS'

In [180]:
print(
    lf
    .select(pl.col('Name', 'Age'))
    .explain()
    , sep='\n'
)

Csv SCAN [../data/titanic_dataset.csv]
PROJECT 2/12 COLUMNS

## Selecting columns and filtering data

### How to do it...

In [181]:
df = pl.read_csv('../data/titanic_dataset.csv') 
df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [182]:
df.select(['Survived', 'Ticket', 'Fare']).head()

shape: (5, 3)
┌──────────┬──────────────────┬─────────┐
│ Survived ┆ Ticket           ┆ Fare    │
│ ---      ┆ ---              ┆ ---     │
│ i64      ┆ str              ┆ f64     │
╞══════════╪══════════════════╪═════════╡
│ 0        ┆ A/5 21171        ┆ 7.25    │
│ 1        ┆ PC 17599         ┆ 71.2833 │
│ 1        ┆ STON/O2. 3101282 ┆ 7.925   │
│ 1        ┆ 113803           ┆ 53.1    │
│ 0        ┆ 373450           ┆ 8.05    │
└──────────┴──────────────────┴─────────┘

In [183]:
df.select(pl.col(['Survived', 'Ticket', 'Fare'])).head()

shape: (5, 3)
┌──────────┬──────────────────┬─────────┐
│ Survived ┆ Ticket           ┆ Fare    │
│ ---      ┆ ---              ┆ ---     │
│ i64      ┆ str              ┆ f64     │
╞══════════╪══════════════════╪═════════╡
│ 0        ┆ A/5 21171        ┆ 7.25    │
│ 1        ┆ PC 17599         ┆ 71.2833 │
│ 1        ┆ STON/O2. 3101282 ┆ 7.925   │
│ 1        ┆ 113803           ┆ 53.1    │
│ 0        ┆ 373450           ┆ 8.05    │
└──────────┴──────────────────┴─────────┘

In [184]:
df.select(
    pl.col('Survived'),
    pl.col('Ticket'),
    pl.col('Fare')
).head()

shape: (5, 3)
┌──────────┬──────────────────┬─────────┐
│ Survived ┆ Ticket           ┆ Fare    │
│ ---      ┆ ---              ┆ ---     │
│ i64      ┆ str              ┆ f64     │
╞══════════╪══════════════════╪═════════╡
│ 0        ┆ A/5 21171        ┆ 7.25    │
│ 1        ┆ PC 17599         ┆ 71.2833 │
│ 1        ┆ STON/O2. 3101282 ┆ 7.925   │
│ 1        ┆ 113803           ┆ 53.1    │
│ 0        ┆ 373450           ┆ 8.05    │
└──────────┴──────────────────┴─────────┘

In [185]:
df.with_columns(
    pl.col('Survived'),
    pl.col('Ticket'),
    pl.col('Fare')
).head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [186]:
df.with_columns(['Survived', 'Ticket', 'Fare']).head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [187]:
df.with_columns(
    pl.col('Survived'),
    pl.col('Ticket'),
    pl.col('Fare')
).head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [188]:
df.filter((pl.col('Age') >= 30)).head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆          ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 113803   ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆          ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 373450   ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Henry              ┆   ┆          ┆         ┆       ┆          │
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.      ┆ … ┆ 17463    ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J          ┆   ┆          ┆         ┆       ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss.     ┆ … ┆ 113783   ┆ 26.55   ┆ C103  ┆ S        │
│             ┆          ┆        ┆ Elizabeth          ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

In [189]:
df.filter(
    (pl.col('Age') >= 30) & (pl.col('Sex')=='male')
).head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Ticket ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---    ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ str    ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪════════╪═════════╪═══════╪══════════╡
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William   ┆ … ┆ 373450 ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Henry                ┆   ┆        ┆         ┆       ┆          │
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.        ┆ … ┆ 17463  ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J            ┆   ┆        ┆         ┆       ┆          │
│ 14          ┆ 0        ┆ 3      ┆ Andersson, Mr.       ┆ … ┆ 347082 ┆ 31.275  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Anders Johan         ┆   ┆        ┆         ┆       ┆          │
│ 21          ┆ 0        ┆ 2      ┆ Fynney, Mr. Joseph J ┆ … ┆ 239865 ┆ 26.0    ┆ null  ┆ S        │
│ 22          ┆ 1        ┆ 2      ┆ Beesley, Mr.         ┆ … ┆ 248698 ┆ 13.0    ┆ D56   ┆ S        │
│             ┆          ┆        ┆ Lawrence             ┆   ┆        ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────────┴───┴────────┴─────────┴───────┴──────────┘

### There is more...

In [190]:
df[['Age', 'Sex']].head()

shape: (5, 2)
┌──────┬────────┐
│ Age  ┆ Sex    │
│ ---  ┆ ---    │
│ f64  ┆ str    │
╞══════╪════════╡
│ 22.0 ┆ male   │
│ 38.0 ┆ female │
│ 26.0 ┆ female │
│ 35.0 ┆ female │
│ 35.0 ┆ male   │
└──────┴────────┘

In [191]:
df.select(pl.col('^[a-zA-Z]{0,4}$')).head()

shape: (5, 4)
┌─────────────────────────────────┬────────┬──────┬─────────┐
│ Name                            ┆ Sex    ┆ Age  ┆ Fare    │
│ ---                             ┆ ---    ┆ ---  ┆ ---     │
│ str                             ┆ str    ┆ f64  ┆ f64     │
╞═════════════════════════════════╪════════╪══════╪═════════╡
│ Braund, Mr. Owen Harris         ┆ male   ┆ 22.0 ┆ 7.25    │
│ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ 38.0 ┆ 71.2833 │
│ Heikkinen, Miss. Laina          ┆ female ┆ 26.0 ┆ 7.925   │
│ Futrelle, Mrs. Jacques Heath (… ┆ female ┆ 35.0 ┆ 53.1    │
│ Allen, Mr. William Henry        ┆ male   ┆ 35.0 ┆ 8.05    │
└─────────────────────────────────┴────────┴──────┴─────────┘

In [192]:
df.select(pl.col(pl.String)).head()

shape: (5, 5)
┌─────────────────────────────────┬────────┬──────────────────┬───────┬──────────┐
│ Name                            ┆ Sex    ┆ Ticket           ┆ Cabin ┆ Embarked │
│ ---                             ┆ ---    ┆ ---              ┆ ---   ┆ ---      │
│ str                             ┆ str    ┆ str              ┆ str   ┆ str      │
╞═════════════════════════════════╪════════╪══════════════════╪═══════╪══════════╡
│ Braund, Mr. Owen Harris         ┆ male   ┆ A/5 21171        ┆ null  ┆ S        │
│ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ PC 17599         ┆ C85   ┆ C        │
│ Heikkinen, Miss. Laina          ┆ female ┆ STON/O2. 3101282 ┆ null  ┆ S        │
│ Futrelle, Mrs. Jacques Heath (… ┆ female ┆ 113803           ┆ C123  ┆ S        │
│ Allen, Mr. William Henry        ┆ male   ┆ 373450           ┆ null  ┆ S        │
└─────────────────────────────────┴────────┴──────────────────┴───────┴──────────┘

In [193]:
import polars.selectors as cs

df.select(cs.numeric()).head()

shape: (5, 7)
┌─────────────┬──────────┬────────┬──────┬───────┬───────┬─────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Age  ┆ SibSp ┆ Parch ┆ Fare    │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆ ---   ┆ ---   ┆ ---     │
│ i64         ┆ i64      ┆ i64    ┆ f64  ┆ i64   ┆ i64   ┆ f64     │
╞═════════════╪══════════╪════════╪══════╪═══════╪═══════╪═════════╡
│ 1           ┆ 0        ┆ 3      ┆ 22.0 ┆ 1     ┆ 0     ┆ 7.25    │
│ 2           ┆ 1        ┆ 1      ┆ 38.0 ┆ 1     ┆ 0     ┆ 71.2833 │
│ 3           ┆ 1        ┆ 3      ┆ 26.0 ┆ 0     ┆ 0     ┆ 7.925   │
│ 4           ┆ 1        ┆ 1      ┆ 35.0 ┆ 1     ┆ 0     ┆ 53.1    │
│ 5           ┆ 0        ┆ 3      ┆ 35.0 ┆ 0     ┆ 0     ┆ 8.05    │
└─────────────┴──────────┴────────┴──────┴───────┴───────┴─────────┘

In [194]:
df.select(cs.matches('se|ed')).head()

shape: (5, 3)
┌─────────────┬──────────┬──────────┐
│ PassengerId ┆ Survived ┆ Embarked │
│ ---         ┆ ---      ┆ ---      │
│ i64         ┆ i64      ┆ str      │
╞═════════════╪══════════╪══════════╡
│ 1           ┆ 0        ┆ S        │
│ 2           ┆ 1        ┆ C        │
│ 3           ┆ 1        ┆ S        │
│ 4           ┆ 1        ┆ S        │
│ 5           ┆ 0        ┆ S        │
└─────────────┴──────────┴──────────┘

## Creating, modifying, and deleting columns

### How to do it...

In [195]:
df = pl.read_csv('../data/titanic_dataset.csv')
df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [196]:
df.with_columns(
    pl.col('Fare').max().alias('Max Fare')
).head()

shape: (5, 13)
┌─────────────┬──────────┬────────┬────────────────────┬───┬─────────┬───────┬──────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ Max Fare │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ f64     ┆ str   ┆ str      ┆ f64      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪═════════╪═══════╪══════════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen   ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Harris             ┆   ┆         ┆       ┆          ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 512.3292 │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆         ┆       ┆          ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.   ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Laina              ┆   ┆         ┆       ┆          ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆         ┆       ┆          ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Henry              ┆   ┆         ┆       ┆          ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴─────────┴───────┴──────────┴──────────┘

In [197]:
df.with_columns(
    max_fare=pl.col('Fare').max()
).head()

shape: (5, 13)
┌─────────────┬──────────┬────────┬────────────────────┬───┬─────────┬───────┬──────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ max_fare │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ f64     ┆ str   ┆ str      ┆ f64      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪═════════╪═══════╪══════════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen   ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Harris             ┆   ┆         ┆       ┆          ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 512.3292 │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆         ┆       ┆          ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.   ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Laina              ┆   ┆         ┆       ┆          ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆         ┆       ┆          ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Henry              ┆   ┆         ┆       ┆          ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴─────────┴───────┴──────────┴──────────┘

In [198]:
df.with_columns(
    (pl.col('Fare').max() - pl.col('Fare').mean()).alias('Max Fare - Avg Fare')
).head()

shape: (5, 13)
┌─────────────┬──────────┬────────┬──────────────────┬───┬─────────┬───────┬──────────┬────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ Max Fare - │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---     ┆ ---   ┆ ---      ┆ Avg Fare   │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ f64     ┆ str   ┆ str      ┆ ---        │
│             ┆          ┆        ┆                  ┆   ┆         ┆       ┆          ┆ f64        │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═════════╪═══════╪══════════╪════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 480.124992 │
│             ┆          ┆        ┆ Harris           ┆   ┆         ┆       ┆          ┆            │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 480.124992 │
│             ┆          ┆        ┆ John Bradley     ┆   ┆         ┆       ┆          ┆            │
│             ┆          ┆        ┆ (Fl…             ┆   ┆         ┆       ┆          ┆            │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 480.124992 │
│             ┆          ┆        ┆ Laina            ┆   ┆         ┆       ┆          ┆            │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 480.124992 │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆         ┆       ┆          ┆            │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 480.124992 │
│             ┆          ┆        ┆ William Henry    ┆   ┆         ┆       ┆          ┆            │
└─────────────┴──────────┴────────┴──────────────────┴───┴─────────┴───────┴──────────┴────────────┘

In [199]:
df.with_columns(pl.lit('Titanic')).head()

shape: (5, 13)
┌─────────────┬──────────┬────────┬─────────────────────┬───┬─────────┬───────┬──────────┬─────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ literal │
│ ---         ┆ ---      ┆ ---    ┆ ---                 ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---     │
│ i64         ┆ i64      ┆ i64    ┆ str                 ┆   ┆ f64     ┆ str   ┆ str      ┆ str     │
╞═════════════╪══════════╪════════╪═════════════════════╪═══╪═════════╪═══════╪══════════╪═════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen    ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ Titanic │
│             ┆          ┆        ┆ Harris              ┆   ┆         ┆       ┆          ┆         │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John  ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ Titanic │
│             ┆          ┆        ┆ Bradley (Fl…        ┆   ┆         ┆       ┆          ┆         │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.    ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ Titanic │
│             ┆          ┆        ┆ Laina               ┆   ┆         ┆       ┆          ┆         │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.      ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ Titanic │
│             ┆          ┆        ┆ Jacques Heath (…    ┆   ┆         ┆       ┆          ┆         │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William  ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ Titanic │
│             ┆          ┆        ┆ Henry               ┆   ┆         ┆       ┆          ┆         │
└─────────────┴──────────┴────────┴─────────────────────┴───┴─────────┴───────┴──────────┴─────────┘

In [200]:
df.with_row_index().head()

shape: (5, 13)
┌───────┬─────────────┬──────────┬────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ index ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---   ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ u32   ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═══════╪═════════════╪══════════╪════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 0     ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 1     ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 2     ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ 3     ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 113803           ┆ 53.1    ┆ C123  ┆ S        │
│ 4     ┆ 5           ┆ 0        ┆ 3      ┆ … ┆ 373450           ┆ 8.05    ┆ null  ┆ S        │
└───────┴─────────────┴──────────┴────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [201]:
df.with_columns(pl.col('Sex').str.to_titlecase()).head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [202]:
df.with_columns( 
    pl.col('Fare').max() 
).head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬───────────┬──────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket    ┆ Fare     ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---       ┆ ---      ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str       ┆ f64      ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═══════════╪══════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171 ┆ 512.3292 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆           ┆          ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ PC 17599  ┆ 512.3292 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆           ┆          ┆       ┆          │
│             ┆          ┆        ┆ (Fl…             ┆   ┆           ┆          ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ STON/O2.  ┆ 512.3292 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆ 3101282   ┆          ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 113803    ┆ 512.3292 ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆           ┆          ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 373450    ┆ 512.3292 ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆           ┆          ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴───────────┴──────────┴───────┴──────────┘

In [203]:
df.drop(['Pclass', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked']).head()

shape: (5, 5)
┌─────────────┬──────────┬────────┬──────┬─────────┐
│ PassengerId ┆ Survived ┆ Sex    ┆ Age  ┆ Fare    │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆ ---     │
│ i64         ┆ i64      ┆ str    ┆ f64  ┆ f64     │
╞═════════════╪══════════╪════════╪══════╪═════════╡
│ 1           ┆ 0        ┆ male   ┆ 22.0 ┆ 7.25    │
│ 2           ┆ 1        ┆ female ┆ 38.0 ┆ 71.2833 │
│ 3           ┆ 1        ┆ female ┆ 26.0 ┆ 7.925   │
│ 4           ┆ 1        ┆ female ┆ 35.0 ┆ 53.1    │
│ 5           ┆ 0        ┆ male   ┆ 35.0 ┆ 8.05    │
└─────────────┴──────────┴────────┴──────┴─────────┘

In [204]:
df.select(['PassengerId', 'Survived', 'Sex', 'Age', 'Fare']).head()

shape: (5, 5)
┌─────────────┬──────────┬────────┬──────┬─────────┐
│ PassengerId ┆ Survived ┆ Sex    ┆ Age  ┆ Fare    │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆ ---     │
│ i64         ┆ i64      ┆ str    ┆ f64  ┆ f64     │
╞═════════════╪══════════╪════════╪══════╪═════════╡
│ 1           ┆ 0        ┆ male   ┆ 22.0 ┆ 7.25    │
│ 2           ┆ 1        ┆ female ┆ 38.0 ┆ 71.2833 │
│ 3           ┆ 1        ┆ female ┆ 26.0 ┆ 7.925   │
│ 4           ┆ 1        ┆ female ┆ 35.0 ┆ 53.1    │
│ 5           ┆ 0        ┆ male   ┆ 35.0 ┆ 8.05    │
└─────────────┴──────────┴────────┴──────┴─────────┘

### There is more...

In [205]:
best_practice = (
    df.with_columns(
        pl.col('Fare').max().alias('Max Fare'),
        pl.lit('Titanic'),
        pl.col('Sex').str.to_titlecase()
    )
)
best_practice.head()

shape: (5, 14)
┌─────────────┬──────────┬────────┬────────────────────┬───┬───────┬──────────┬──────────┬─────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Cabin ┆ Embarked ┆ Max Fare ┆ literal │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---   ┆ ---      ┆ ---      ┆ ---     │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str   ┆ str      ┆ f64      ┆ str     │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪═══════╪══════════╪══════════╪═════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen   ┆ … ┆ null  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Harris             ┆   ┆       ┆          ┆          ┆         │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ C85   ┆ C        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆       ┆          ┆          ┆         │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.   ┆ … ┆ null  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Laina              ┆   ┆       ┆          ┆          ┆         │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ C123  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆       ┆          ┆          ┆         │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ null  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Henry              ┆   ┆       ┆          ┆          ┆         │
└─────────────┴──────────┴────────┴────────────────────┴───┴───────┴──────────┴──────────┴─────────┘

In [206]:
not_so_good_practice = (
    df
    .with_columns(pl.col('Fare').max().alias('Max Fare'))
    .with_columns(pl.lit('Titanic'))
    .with_columns(pl.col('Sex').str.to_titlecase())
)
not_so_good_practice.head()

shape: (5, 14)
┌─────────────┬──────────┬────────┬────────────────────┬───┬───────┬──────────┬──────────┬─────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Cabin ┆ Embarked ┆ Max Fare ┆ literal │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---   ┆ ---      ┆ ---      ┆ ---     │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str   ┆ str      ┆ f64      ┆ str     │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪═══════╪══════════╪══════════╪═════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen   ┆ … ┆ null  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Harris             ┆   ┆       ┆          ┆          ┆         │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ C85   ┆ C        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆       ┆          ┆          ┆         │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.   ┆ … ┆ null  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Laina              ┆   ┆       ┆          ┆          ┆         │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ C123  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆       ┆          ┆          ┆         │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ null  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Henry              ┆   ┆       ┆          ┆          ┆         │
└─────────────┴──────────┴────────┴────────────────────┴───┴───────┴──────────┴──────────┴─────────┘

## Method chaining

### How to do it...

In [207]:
df = pl.read_csv('../data/titanic_dataset.csv')
df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [208]:
cols = ['Name', 'Sex', 'Age', 'Fare', 'Cabin', 'Pclass', 'Survived']

In [209]:
df = df.select(cols)
df = df.filter(pl.col('Age')>=35)
df = df.sort(by=['Age', 'Name'])
df.head()

shape: (5, 7)
┌─────────────────────────────────┬────────┬──────┬──────────┬───────┬────────┬──────────┐
│ Name                            ┆ Sex    ┆ Age  ┆ Fare     ┆ Cabin ┆ Pclass ┆ Survived │
│ ---                             ┆ ---    ┆ ---  ┆ ---      ┆ ---   ┆ ---    ┆ ---      │
│ str                             ┆ str    ┆ f64  ┆ f64      ┆ str   ┆ i64    ┆ i64      │
╞═════════════════════════════════╪════════╪══════╪══════════╪═══════╪════════╪══════════╡
│ Abbott, Mrs. Stanton (Rosa Hun… ┆ female ┆ 35.0 ┆ 20.25    ┆ null  ┆ 3      ┆ 1        │
│ Allen, Mr. William Henry        ┆ male   ┆ 35.0 ┆ 8.05     ┆ null  ┆ 3      ┆ 0        │
│ Asim, Mr. Adola                 ┆ male   ┆ 35.0 ┆ 7.05     ┆ null  ┆ 3      ┆ 0        │
│ Bissette, Miss. Amelia          ┆ female ┆ 35.0 ┆ 135.6333 ┆ C99   ┆ 1      ┆ 1        │
│ Brocklebank, Mr. William Alfre… ┆ male   ┆ 35.0 ┆ 8.05     ┆ null  ┆ 3      ┆ 0        │
└─────────────────────────────────┴────────┴──────┴──────────┴───────┴────────┴──────────┘

In [210]:
df = df.select(cols).filter(pl.col('Age')>=35).sort(by=['Age', 'Name'])
df.head()

shape: (5, 7)
┌─────────────────────────────────┬────────┬──────┬──────────┬───────┬────────┬──────────┐
│ Name                            ┆ Sex    ┆ Age  ┆ Fare     ┆ Cabin ┆ Pclass ┆ Survived │
│ ---                             ┆ ---    ┆ ---  ┆ ---      ┆ ---   ┆ ---    ┆ ---      │
│ str                             ┆ str    ┆ f64  ┆ f64      ┆ str   ┆ i64    ┆ i64      │
╞═════════════════════════════════╪════════╪══════╪══════════╪═══════╪════════╪══════════╡
│ Abbott, Mrs. Stanton (Rosa Hun… ┆ female ┆ 35.0 ┆ 20.25    ┆ null  ┆ 3      ┆ 1        │
│ Allen, Mr. William Henry        ┆ male   ┆ 35.0 ┆ 8.05     ┆ null  ┆ 3      ┆ 0        │
│ Asim, Mr. Adola                 ┆ male   ┆ 35.0 ┆ 7.05     ┆ null  ┆ 3      ┆ 0        │
│ Bissette, Miss. Amelia          ┆ female ┆ 35.0 ┆ 135.6333 ┆ C99   ┆ 1      ┆ 1        │
│ Brocklebank, Mr. William Alfre… ┆ male   ┆ 35.0 ┆ 8.05     ┆ null  ┆ 3      ┆ 0        │
└─────────────────────────────────┴────────┴──────┴──────────┴───────┴────────┴──────────┘

In [211]:
df = (
    df
    .select(cols)
    .filter(pl.col('Age')>=35)
    .sort(by=['Age', 'Name'])
)
df.head()

shape: (5, 7)
┌─────────────────────────────────┬────────┬──────┬──────────┬───────┬────────┬──────────┐
│ Name                            ┆ Sex    ┆ Age  ┆ Fare     ┆ Cabin ┆ Pclass ┆ Survived │
│ ---                             ┆ ---    ┆ ---  ┆ ---      ┆ ---   ┆ ---    ┆ ---      │
│ str                             ┆ str    ┆ f64  ┆ f64      ┆ str   ┆ i64    ┆ i64      │
╞═════════════════════════════════╪════════╪══════╪══════════╪═══════╪════════╪══════════╡
│ Abbott, Mrs. Stanton (Rosa Hun… ┆ female ┆ 35.0 ┆ 20.25    ┆ null  ┆ 3      ┆ 1        │
│ Allen, Mr. William Henry        ┆ male   ┆ 35.0 ┆ 8.05     ┆ null  ┆ 3      ┆ 0        │
│ Asim, Mr. Adola                 ┆ male   ┆ 35.0 ┆ 7.05     ┆ null  ┆ 3      ┆ 0        │
│ Bissette, Miss. Amelia          ┆ female ┆ 35.0 ┆ 135.6333 ┆ C99   ┆ 1      ┆ 1        │
│ Brocklebank, Mr. William Alfre… ┆ male   ┆ 35.0 ┆ 8.05     ┆ null  ┆ 3      ┆ 0        │
└─────────────────────────────────┴────────┴──────┴──────────┴───────┴────────┴──────────┘

In [212]:
df = (
    df
    .select(cols)
    # .filter(pl.col('Age')>=35)
    .sort(by=['Age', 'Name'])
)
df.head()

shape: (5, 7)
┌─────────────────────────────────┬────────┬──────┬──────────┬───────┬────────┬──────────┐
│ Name                            ┆ Sex    ┆ Age  ┆ Fare     ┆ Cabin ┆ Pclass ┆ Survived │
│ ---                             ┆ ---    ┆ ---  ┆ ---      ┆ ---   ┆ ---    ┆ ---      │
│ str                             ┆ str    ┆ f64  ┆ f64      ┆ str   ┆ i64    ┆ i64      │
╞═════════════════════════════════╪════════╪══════╪══════════╪═══════╪════════╪══════════╡
│ Abbott, Mrs. Stanton (Rosa Hun… ┆ female ┆ 35.0 ┆ 20.25    ┆ null  ┆ 3      ┆ 1        │
│ Allen, Mr. William Henry        ┆ male   ┆ 35.0 ┆ 8.05     ┆ null  ┆ 3      ┆ 0        │
│ Asim, Mr. Adola                 ┆ male   ┆ 35.0 ┆ 7.05     ┆ null  ┆ 3      ┆ 0        │
│ Bissette, Miss. Amelia          ┆ female ┆ 35.0 ┆ 135.6333 ┆ C99   ┆ 1      ┆ 1        │
│ Brocklebank, Mr. William Alfre… ┆ male   ┆ 35.0 ┆ 8.05     ┆ null  ┆ 3      ┆ 0        │
└─────────────────────────────────┴────────┴──────┴──────────┴───────┴────────┴──────────┘

### There is more...

In [213]:
df = df \
    .select(cols) \
    .filter(pl.col('Age')>=35) \
    .sort(by=['Age', 'Name'])

## Processing datasets larger than RAM

In [214]:
import polars as pl

In [215]:
import requests
import polars as pl

url = "https://data.cityofchicago.org/resource/ajtu-isnz.json?$limit=1000"
response = requests.get(url)
data = response.json()

df = pl.DataFrame(data)
df.head()
url = "https://data.cityofchicago.org/resource/ajtu-isnz.json?$limit=1000&$offset={}"
offset = 0
all_data = []

# Define the schema to ensure consistency
schema = df.schema

while offset < 2000:
    response = requests.get(url.format(offset))
    data = response.json()
    if not data:
        break
    df_chunk = pl.DataFrame(data, schema=schema)
    all_data.append(df_chunk)
    offset += 1000

df = pl.concat(all_data)
df.head()

shape: (5, 23)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ trip_id   ┆ taxi_id   ┆ trip_star ┆ trip_end_ ┆ … ┆ dropoff_c ┆ dropoff_c ┆ pickup_ce ┆ dropoff_ │
│ ---       ┆ ---       ┆ t_timesta ┆ timestamp ┆   ┆ entroid_l ┆ entroid_l ┆ nsus_trac ┆ census_t │
│ str       ┆ str       ┆ mp        ┆ ---       ┆   ┆ ongitude  ┆ ocation   ┆ t         ┆ ract     │
│           ┆           ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆           ┆ str       ┆           ┆   ┆ str       ┆ struct[2] ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 604c104c6 ┆ d3b33673e ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.57278 ┆ {"Point", ┆ null      ┆ null     │
│ 4de68af93 ┆ e1a393259 ┆ 1T00:00:0 ┆ 1T00:30:0 ┆   ┆ 1987      ┆ [-87.5727 ┆           ┆          │
│ a0f69ed52 ┆ 83e66d426 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 82,       ┆           ┆          │
│ ba5…      ┆ 003…      ┆           ┆           ┆   ┆           ┆ 41.76157… ┆           ┆          │
│ eadda0d36 ┆ 52c3ffa68 ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.66351 ┆ {"Point", ┆ null      ┆ null     │
│ 6a84b7b7d ┆ 5a3b5ced3 ┆ 1T00:00:0 ┆ 1T00:30:0 ┆   ┆ 755       ┆ [-87.6635 ┆           ┆          │
│ 705ac0bd9 ┆ d16461dee ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 18,       ┆           ┆          │
│ 3cd…      ┆ c5a…      ┆           ┆           ┆   ┆           ┆ 41.87400… ┆           ┆          │
│ 9196437a3 ┆ da31cff8b ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.59231 ┆ {"Point", ┆ null      ┆ null     │
│ 226517331 ┆ 8ee7eb6f5 ┆ 1T00:00:0 ┆ 1T00:30:0 ┆   ┆ 0855      ┆ [-87.5923 ┆           ┆          │
│ 0df6bcb0a ┆ a94a452eb ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 11,       ┆           ┆          │
│ 964…      ┆ fb7…      ┆           ┆           ┆   ┆           ┆ 41.79409… ┆           ┆          │
│ defd0751b ┆ f35fcc7d2 ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.65599 ┆ {"Point", ┆ null      ┆ null     │
│ a15387475 ┆ 8fd3ca032 ┆ 1T00:00:0 ┆ 1T00:00:0 ┆   ┆ 8182      ┆ [-87.6559 ┆           ┆          │
│ 5a8ff0cf0 ┆ 4ad6b42c6 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 98,       ┆           ┆          │
│ ea1…      ┆ bf1…      ┆           ┆           ┆   ┆           ┆ 41.94422… ┆           ┆          │
│ a9adc9d11 ┆ 90800746d ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.62519 ┆ {"Point", ┆ null      ┆ null     │
│ a8a432856 ┆ a6ccbc73d ┆ 1T00:00:0 ┆ 1T00:15:0 ┆   ┆ 2142      ┆ [-87.6251 ┆           ┆          │
│ 0437bec5f ┆ 3233fe1e5 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 92,       ┆           ┆          │
│ 5df…      ┆ f87…      ┆           ┆           ┆   ┆           ┆ 41.87886… ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [216]:
df.head(100)

shape: (100, 23)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ trip_id   ┆ taxi_id   ┆ trip_star ┆ trip_end_ ┆ … ┆ dropoff_c ┆ dropoff_c ┆ pickup_ce ┆ dropoff_ │
│ ---       ┆ ---       ┆ t_timesta ┆ timestamp ┆   ┆ entroid_l ┆ entroid_l ┆ nsus_trac ┆ census_t │
│ str       ┆ str       ┆ mp        ┆ ---       ┆   ┆ ongitude  ┆ ocation   ┆ t         ┆ ract     │
│           ┆           ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆           ┆ str       ┆           ┆   ┆ str       ┆ struct[2] ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 604c104c6 ┆ d3b33673e ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.57278 ┆ {"Point", ┆ null      ┆ null     │
│ 4de68af93 ┆ e1a393259 ┆ 1T00:00:0 ┆ 1T00:30:0 ┆   ┆ 1987      ┆ [-87.5727 ┆           ┆          │
│ a0f69ed52 ┆ 83e66d426 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 82,       ┆           ┆          │
│ ba5…      ┆ 003…      ┆           ┆           ┆   ┆           ┆ 41.76157… ┆           ┆          │
│ eadda0d36 ┆ 52c3ffa68 ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.66351 ┆ {"Point", ┆ null      ┆ null     │
│ 6a84b7b7d ┆ 5a3b5ced3 ┆ 1T00:00:0 ┆ 1T00:30:0 ┆   ┆ 755       ┆ [-87.6635 ┆           ┆          │
│ 705ac0bd9 ┆ d16461dee ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 18,       ┆           ┆          │
│ 3cd…      ┆ c5a…      ┆           ┆           ┆   ┆           ┆ 41.87400… ┆           ┆          │
│ 9196437a3 ┆ da31cff8b ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.59231 ┆ {"Point", ┆ null      ┆ null     │
│ 226517331 ┆ 8ee7eb6f5 ┆ 1T00:00:0 ┆ 1T00:30:0 ┆   ┆ 0855      ┆ [-87.5923 ┆           ┆          │
│ 0df6bcb0a ┆ a94a452eb ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 11,       ┆           ┆          │
│ 964…      ┆ fb7…      ┆           ┆           ┆   ┆           ┆ 41.79409… ┆           ┆          │
│ defd0751b ┆ f35fcc7d2 ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.65599 ┆ {"Point", ┆ null      ┆ null     │
│ a15387475 ┆ 8fd3ca032 ┆ 1T00:00:0 ┆ 1T00:00:0 ┆   ┆ 8182      ┆ [-87.6559 ┆           ┆          │
│ 5a8ff0cf0 ┆ 4ad6b42c6 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 98,       ┆           ┆          │
│ ea1…      ┆ bf1…      ┆           ┆           ┆   ┆           ┆ 41.94422… ┆           ┆          │
│ a9adc9d11 ┆ 90800746d ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.62519 ┆ {"Point", ┆ null      ┆ null     │
│ a8a432856 ┆ a6ccbc73d ┆ 1T00:00:0 ┆ 1T00:15:0 ┆   ┆ 2142      ┆ [-87.6251 ┆           ┆          │
│ 0437bec5f ┆ 3233fe1e5 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 92,       ┆           ┆          │
│ 5df…      ┆ f87…      ┆           ┆           ┆   ┆           ┆ 41.87886… ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 30d9e6f21 ┆ f28eac472 ┆ 2024-12-3 ┆ 2025-01-0 ┆ … ┆ -87.69915 ┆ {"Point", ┆ null      ┆ null     │
│ edb8d85f9 ┆ 760f6ca22 ┆ 1T23:30:0 ┆ 1T00:00:0 ┆   ┆ 5343      ┆ [-87.6991 ┆           ┆          │
│ 514a6d12e ┆ 2e401b7b9 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 55,       ┆           ┆          │
│ a20…      ┆ f02…      ┆           ┆           ┆   ┆           ┆ 41.92276… ┆           ┆          │
│ 63fe3a706 ┆ 4ba3690e7 ┆ 2024-12-3 ┆ 2024-12-3 ┆ … ┆ -87.61613 ┆ {"Point", ┆ null      ┆ null     │
│ 0e8658528 ┆ f7bde263c ┆ 1T23:30:0 ┆ 1T23:45:0 ┆   ┆ 4111      ┆ [-87.6161 ┆           ┆          │
│ db1658d40 ┆ 96de93e97 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 34,       ┆           ┆          │
│ 9cb…      ┆ af2…      ┆           ┆           ┆   ┆           ┆ 41.76324… ┆           ┆          │
│ 8dd832b04 ┆ bb44c202e ┆ 2024-12-3 ┆ 2024-12-3 ┆ … ┆ -87.68751 ┆ {"Point", ┆ null      ┆ null     │
│ 56db3e2ab ┆ 4e69e7f74 ┆ 1T23:30:0 ┆ 1T23:30:0 ┆   ┆ 5515      ┆ [-87.6875 ┆           ┆          │
│ 3ec2842a5 ┆ 4256b9d02 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 16,       ┆           ┆          │
│ 90f…      ┆ 4b4…      ┆           ┆           ┆   ┆           ┆ 41.97517… ┆           ┆          │
│ d5571d7f2 ┆ 864e0bed5 ┆ 2024-12-3 ┆ 2024-12-3 ┆ … ┆ -87.63274 ┆ {"Point", ┆ 170318391 ┆ 17031839 │
│ 30eb90b96 ┆ 92c7a4762 ┆ 1T23:30:0 ┆ 1T23:45:0 ┆   ┆ 6489      ┆ [-87.6327 ┆ 00        ┆ 100      │
│ 21610712e ┆ 08dbb4d71 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 46,       ┆           ┆          │
│ a44…      ┆ 9f8…      ┆           ┆           ┆   ┆           ┆ 41.88099… ┆           ┆          │
│ 61eafd462 ┆ be435bc4d ┆ 2024-12-3 ┆ 2024-12-3 ┆ … ┆ -87.63330 ┆ {"Point", ┆ null      ┆ null     │
│ 53b9553d5 ┆ 6744155b3 ┆ 1T23:30:0 ┆ 1T23:45:0 ┆   ┆ 8037      ┆ [-87.6333 ┆           ┆          │
│ 9635d9a76 ┆ 272e9edde ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 08,       ┆           ┆          │
│ bf3…      ┆ d01…      ┆           ┆           ┆   ┆           ┆ 41.89960… ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [217]:
df = df.with_columns([
    pl.col('trip_id').cast(pl.Utf8),
    pl.col('taxi_id').cast(pl.Utf8),
    pl.col('trip_start_timestamp').cast(pl.Utf8),
    pl.col('trip_end_timestamp').cast(pl.Utf8),
    pl.col('trip_seconds').cast(pl.Int32),
    pl.col('trip_miles').cast(pl.Float64),
    pl.col('pickup_community_area').cast(pl.Int32),
    pl.col('dropoff_community_area').cast(pl.Int32),
    pl.col('fare').cast(pl.Float64),
    pl.col('tips').cast(pl.Float64),
    pl.col('tolls').cast(pl.Float64),
    pl.col('extras').cast(pl.Float64),
    pl.col('trip_total').cast(pl.Float64),
    pl.col('payment_type').cast(pl.Utf8),
    pl.col('company').cast(pl.Utf8),
    pl.col('pickup_centroid_latitude').cast(pl.Float64),
    pl.col('pickup_centroid_longitude').cast(pl.Float64),
    pl.col('pickup_centroid_location').cast(pl.Struct([pl.Field('type', pl.Utf8), pl.Field('coordinates', pl.List(pl.Float64))])),
    pl.col('dropoff_centroid_latitude').cast(pl.Float64),
    pl.col('dropoff_centroid_longitude').cast(pl.Float64),
    pl.col('dropoff_centroid_location').cast(pl.Struct([pl.Field('type', pl.Utf8), pl.Field('coordinates', pl.List(pl.Float64))])),
    pl.col('pickup_census_tract').cast(pl.Utf8),
    pl.col('dropoff_census_tract').cast(pl.Utf8)
])
df.head(100)

shape: (100, 23)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ trip_id   ┆ taxi_id   ┆ trip_star ┆ trip_end_ ┆ … ┆ dropoff_c ┆ dropoff_c ┆ pickup_ce ┆ dropoff_ │
│ ---       ┆ ---       ┆ t_timesta ┆ timestamp ┆   ┆ entroid_l ┆ entroid_l ┆ nsus_trac ┆ census_t │
│ str       ┆ str       ┆ mp        ┆ ---       ┆   ┆ ongitude  ┆ ocation   ┆ t         ┆ ract     │
│           ┆           ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆           ┆ str       ┆           ┆   ┆ f64       ┆ struct[2] ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 604c104c6 ┆ d3b33673e ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.57278 ┆ {"Point", ┆ null      ┆ null     │
│ 4de68af93 ┆ e1a393259 ┆ 1T00:00:0 ┆ 1T00:30:0 ┆   ┆ 2         ┆ [-87.5727 ┆           ┆          │
│ a0f69ed52 ┆ 83e66d426 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 82,       ┆           ┆          │
│ ba5…      ┆ 003…      ┆           ┆           ┆   ┆           ┆ 41.76157… ┆           ┆          │
│ eadda0d36 ┆ 52c3ffa68 ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.66351 ┆ {"Point", ┆ null      ┆ null     │
│ 6a84b7b7d ┆ 5a3b5ced3 ┆ 1T00:00:0 ┆ 1T00:30:0 ┆   ┆ 8         ┆ [-87.6635 ┆           ┆          │
│ 705ac0bd9 ┆ d16461dee ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 18,       ┆           ┆          │
│ 3cd…      ┆ c5a…      ┆           ┆           ┆   ┆           ┆ 41.87400… ┆           ┆          │
│ 9196437a3 ┆ da31cff8b ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.59231 ┆ {"Point", ┆ null      ┆ null     │
│ 226517331 ┆ 8ee7eb6f5 ┆ 1T00:00:0 ┆ 1T00:30:0 ┆   ┆ 1         ┆ [-87.5923 ┆           ┆          │
│ 0df6bcb0a ┆ a94a452eb ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 11,       ┆           ┆          │
│ 964…      ┆ fb7…      ┆           ┆           ┆   ┆           ┆ 41.79409… ┆           ┆          │
│ defd0751b ┆ f35fcc7d2 ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.65599 ┆ {"Point", ┆ null      ┆ null     │
│ a15387475 ┆ 8fd3ca032 ┆ 1T00:00:0 ┆ 1T00:00:0 ┆   ┆ 8         ┆ [-87.6559 ┆           ┆          │
│ 5a8ff0cf0 ┆ 4ad6b42c6 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 98,       ┆           ┆          │
│ ea1…      ┆ bf1…      ┆           ┆           ┆   ┆           ┆ 41.94422… ┆           ┆          │
│ a9adc9d11 ┆ 90800746d ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ -87.62519 ┆ {"Point", ┆ null      ┆ null     │
│ a8a432856 ┆ a6ccbc73d ┆ 1T00:00:0 ┆ 1T00:15:0 ┆   ┆ 2         ┆ [-87.6251 ┆           ┆          │
│ 0437bec5f ┆ 3233fe1e5 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 92,       ┆           ┆          │
│ 5df…      ┆ f87…      ┆           ┆           ┆   ┆           ┆ 41.87886… ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 30d9e6f21 ┆ f28eac472 ┆ 2024-12-3 ┆ 2025-01-0 ┆ … ┆ -87.69915 ┆ {"Point", ┆ null      ┆ null     │
│ edb8d85f9 ┆ 760f6ca22 ┆ 1T23:30:0 ┆ 1T00:00:0 ┆   ┆ 5         ┆ [-87.6991 ┆           ┆          │
│ 514a6d12e ┆ 2e401b7b9 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 55,       ┆           ┆          │
│ a20…      ┆ f02…      ┆           ┆           ┆   ┆           ┆ 41.92276… ┆           ┆          │
│ 63fe3a706 ┆ 4ba3690e7 ┆ 2024-12-3 ┆ 2024-12-3 ┆ … ┆ -87.61613 ┆ {"Point", ┆ null      ┆ null     │
│ 0e8658528 ┆ f7bde263c ┆ 1T23:30:0 ┆ 1T23:45:0 ┆   ┆ 4         ┆ [-87.6161 ┆           ┆          │
│ db1658d40 ┆ 96de93e97 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 34,       ┆           ┆          │
│ 9cb…      ┆ af2…      ┆           ┆           ┆   ┆           ┆ 41.76324… ┆           ┆          │
│ 8dd832b04 ┆ bb44c202e ┆ 2024-12-3 ┆ 2024-12-3 ┆ … ┆ -87.68751 ┆ {"Point", ┆ null      ┆ null     │
│ 56db3e2ab ┆ 4e69e7f74 ┆ 1T23:30:0 ┆ 1T23:30:0 ┆   ┆ 6         ┆ [-87.6875 ┆           ┆          │
│ 3ec2842a5 ┆ 4256b9d02 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 16,       ┆           ┆          │
│ 90f…      ┆ 4b4…      ┆           ┆           ┆   ┆           ┆ 41.97517… ┆           ┆          │
│ d5571d7f2 ┆ 864e0bed5 ┆ 2024-12-3 ┆ 2024-12-3 ┆ … ┆ -87.63274 ┆ {"Point", ┆ 170318391 ┆ 17031839 │
│ 30eb90b96 ┆ 92c7a4762 ┆ 1T23:30:0 ┆ 1T23:45:0 ┆   ┆ 6         ┆ [-87.6327 ┆ 00        ┆ 100      │
│ 21610712e ┆ 08dbb4d71 ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 46,       ┆           ┆          │
│ a44…      ┆ 9f8…      ┆           ┆           ┆   ┆           ┆ 41.88099… ┆           ┆          │
│ 61eafd462 ┆ be435bc4d ┆ 2024-12-3 ┆ 2024-12-3 ┆ … ┆ -87.63330 ┆ {"Point", ┆ null      ┆ null     │
│ 53b9553d5 ┆ 6744155b3 ┆ 1T23:30:0 ┆ 1T23:45:0 ┆   ┆ 8         ┆ [-87.6333 ┆           ┆          │
│ 9635d9a76 ┆ 272e9edde ┆ 0.000     ┆ 0.000     ┆   ┆           ┆ 08,       ┆           ┆          │
│ bf3…      ┆ d01…      ┆           ┆           ┆   ┆           ┆ 41.89960… ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [218]:
df = df.with_columns([
    pl.col('trip_start_timestamp').str.strptime(pl.Datetime, format='%Y-%m-%dT%H:%M:%S.%f'),
    pl.col('trip_end_timestamp').str.strptime(pl.Datetime, format='%Y-%m-%dT%H:%M:%S.%f')
])

df = df.with_columns([
    pl.col('trip_start_timestamp').dt.date().alias('trip_start_date'),
    pl.col('trip_start_timestamp').dt.time().alias('trip_start_time'),
    pl.col('trip_end_timestamp').dt.date().alias('trip_end_date'),
    pl.col('trip_end_timestamp').dt.time().alias('trip_end_time')
])

C:\Users\mike\AppData\Local\Temp\ipykernel_2152\3654253780.py:2: ChronoFormatWarning: Detected the pattern `.%f` in the chrono format string. This pattern should not be used to parse values after a decimal point. Use `%.f` instead. See the full specification: https://docs.rs/chrono/latest/chrono/format/strftime
  pl.col('trip_start_timestamp').str.strptime(pl.Datetime, format='%Y-%m-%dT%H:%M:%S.%f'),
C:\Users\mike\AppData\Local\Temp\ipykernel_2152\3654253780.py:3: ChronoFormatWarning: Detected the pattern `.%f` in the chrono format string. This pattern should not be used to parse values after a decimal point. Use `%.f` instead. See the full specification: https://docs.rs/chrono/latest/chrono/format/strftime
  pl.col('trip_end_timestamp').str.strptime(pl.Datetime, format='%Y-%m-%dT%H:%M:%S.%f')

In [219]:
df.head(100)

shape: (100, 27)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ trip_id   ┆ taxi_id   ┆ trip_star ┆ trip_end_ ┆ … ┆ trip_star ┆ trip_star ┆ trip_end_ ┆ trip_end │
│ ---       ┆ ---       ┆ t_timesta ┆ timestamp ┆   ┆ t_date    ┆ t_time    ┆ date      ┆ _time    │
│ str       ┆ str       ┆ mp        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆           ┆ ---       ┆ datetime[ ┆   ┆ date      ┆ time      ┆ date      ┆ time     │
│           ┆           ┆ datetime[ ┆ μs]       ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 604c104c6 ┆ d3b33673e ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ 2025-01-0 ┆ 00:00:00  ┆ 2025-01-0 ┆ 00:30:00 │
│ 4de68af93 ┆ e1a393259 ┆ 1         ┆ 1         ┆   ┆ 1         ┆           ┆ 1         ┆          │
│ a0f69ed52 ┆ 83e66d426 ┆ 00:00:00  ┆ 00:30:00  ┆   ┆           ┆           ┆           ┆          │
│ ba5…      ┆ 003…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ eadda0d36 ┆ 52c3ffa68 ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ 2025-01-0 ┆ 00:00:00  ┆ 2025-01-0 ┆ 00:30:00 │
│ 6a84b7b7d ┆ 5a3b5ced3 ┆ 1         ┆ 1         ┆   ┆ 1         ┆           ┆ 1         ┆          │
│ 705ac0bd9 ┆ d16461dee ┆ 00:00:00  ┆ 00:30:00  ┆   ┆           ┆           ┆           ┆          │
│ 3cd…      ┆ c5a…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 9196437a3 ┆ da31cff8b ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ 2025-01-0 ┆ 00:00:00  ┆ 2025-01-0 ┆ 00:30:00 │
│ 226517331 ┆ 8ee7eb6f5 ┆ 1         ┆ 1         ┆   ┆ 1         ┆           ┆ 1         ┆          │
│ 0df6bcb0a ┆ a94a452eb ┆ 00:00:00  ┆ 00:30:00  ┆   ┆           ┆           ┆           ┆          │
│ 964…      ┆ fb7…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ defd0751b ┆ f35fcc7d2 ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ 2025-01-0 ┆ 00:00:00  ┆ 2025-01-0 ┆ 00:00:00 │
│ a15387475 ┆ 8fd3ca032 ┆ 1         ┆ 1         ┆   ┆ 1         ┆           ┆ 1         ┆          │
│ 5a8ff0cf0 ┆ 4ad6b42c6 ┆ 00:00:00  ┆ 00:00:00  ┆   ┆           ┆           ┆           ┆          │
│ ea1…      ┆ bf1…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ a9adc9d11 ┆ 90800746d ┆ 2025-01-0 ┆ 2025-01-0 ┆ … ┆ 2025-01-0 ┆ 00:00:00  ┆ 2025-01-0 ┆ 00:15:00 │
│ a8a432856 ┆ a6ccbc73d ┆ 1         ┆ 1         ┆   ┆ 1         ┆           ┆ 1         ┆          │
│ 0437bec5f ┆ 3233fe1e5 ┆ 00:00:00  ┆ 00:15:00  ┆   ┆           ┆           ┆           ┆          │
│ 5df…      ┆ f87…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 30d9e6f21 ┆ f28eac472 ┆ 2024-12-3 ┆ 2025-01-0 ┆ … ┆ 2024-12-3 ┆ 23:30:00  ┆ 2025-01-0 ┆ 00:00:00 │
│ edb8d85f9 ┆ 760f6ca22 ┆ 1         ┆ 1         ┆   ┆ 1         ┆           ┆ 1         ┆          │
│ 514a6d12e ┆ 2e401b7b9 ┆ 23:30:00  ┆ 00:00:00  ┆   ┆           ┆           ┆           ┆          │
│ a20…      ┆ f02…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 63fe3a706 ┆ 4ba3690e7 ┆ 2024-12-3 ┆ 2024-12-3 ┆ … ┆ 2024-12-3 ┆ 23:30:00  ┆ 2024-12-3 ┆ 23:45:00 │
│ 0e8658528 ┆ f7bde263c ┆ 1         ┆ 1         ┆   ┆ 1         ┆           ┆ 1         ┆          │
│ db1658d40 ┆ 96de93e97 ┆ 23:30:00  ┆ 23:45:00  ┆   ┆           ┆           ┆           ┆          │
│ 9cb…      ┆ af2…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 8dd832b04 ┆ bb44c202e ┆ 2024-12-3 ┆ 2024-12-3 ┆ … ┆ 2024-12-3 ┆ 23:30:00  ┆ 2024-12-3 ┆ 23:30:00 │
│ 56db3e2ab ┆ 4e69e7f74 ┆ 1         ┆ 1         ┆   ┆ 1         ┆           ┆ 1         ┆          │
│ 3ec2842a5 ┆ 4256b9d02 ┆ 23:30:00  ┆ 23:30:00  ┆   ┆           ┆           ┆           ┆          │
│ 90f…      ┆ 4b4…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ d5571d7f2 ┆ 864e0bed5 ┆ 2024-12-3 ┆ 2024-12-3 ┆ … ┆ 2024-12-3 ┆ 23:30:00  ┆ 2024-12-3 ┆ 23:45:00 │
│ 30eb90b96 ┆ 92c7a4762 ┆ 1         ┆ 1         ┆   ┆ 1         ┆           ┆ 1         ┆          │
│ 21610712e ┆ 08dbb4d71 ┆ 23:30:00  ┆ 23:45:00  ┆   ┆           ┆           ┆           ┆          │
│ a44…      ┆ 9f8…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 61eafd462 ┆ be435bc4d ┆ 2024-12-3 ┆ 2024-12-3 ┆ … ┆ 2024-12-3 ┆ 23:30:00  ┆ 2024-12-3 ┆ 23:45:00 │
│ 53b9553d5 ┆ 6744155b3 ┆ 1         ┆ 1         ┆   ┆ 1         ┆           ┆ 1         ┆          │
│ 9635d9a76 ┆ 272e9edde ┆ 23:30:00  ┆ 23:45:00  ┆   ┆           ┆           ┆           ┆          │
│ bf3…      ┆ d01…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [220]:
# Create DimTaxi table
dim_taxi = df.select([
    pl.col('taxi_id').alias('taxi_id'),
    pl.col('company').alias('company')
]).unique()

# Create DimTime table
dim_time = df.select([
    pl.col('trip_start_timestamp').alias('timestamp'),
    pl.col('trip_start_timestamp').dt.date().alias('date'),
    pl.col('trip_start_timestamp').dt.time().alias('time')
]).unique()

# Create DimLocation table
dim_location = df.select([
    pl.col('pickup_centroid_latitude').alias('latitude'),
    pl.col('pickup_centroid_longitude').alias('longitude'),
    pl.col('pickup_census_tract').alias('census_tract')
]).unique().with_row_index('location_id')

# Create FactTrip table
fact_trip = df.select([
    pl.col('trip_id').alias('trip_id'),
    pl.col('taxi_id').alias('taxi_id'),
    pl.col('trip_start_timestamp').alias('trip_start_timestamp'),
    pl.col('trip_end_timestamp').alias('trip_end_timestamp'),
    pl.col('trip_seconds').alias('trip_seconds'),
    pl.col('trip_miles').alias('trip_miles'),
    pl.col('pickup_centroid_latitude').alias('pickup_latitude'),
    pl.col('pickup_centroid_longitude').alias('pickup_longitude'),
    pl.col('dropoff_centroid_latitude').alias('dropoff_latitude'),
    pl.col('dropoff_centroid_longitude').alias('dropoff_longitude'),
    pl.col('fare').alias('fare'),
    pl.col('tips').alias('tips'),
    pl.col('tolls').alias('tolls'),
    pl.col('extras').alias('extras'),
    pl.col('trip_total').alias('trip_total'),
    pl.col('payment_type').alias('payment_type')
])

# Join FactTrip with DimLocation to get location IDs
fact_trip = fact_trip.join(dim_location, left_on=['pickup_latitude', 'pickup_longitude'], right_on=['latitude', 'longitude'], how='left').rename({'location_id': 'pickup_location_id'})
fact_trip = fact_trip.join(dim_location, left_on=['dropoff_latitude', 'dropoff_longitude'], right_on=['latitude', 'longitude'], how='left').rename({'location_id': 'dropoff_location_id'})

# Select final columns for FactTrip
fact_trip = fact_trip.select([
    pl.col('trip_id'),
    pl.col('taxi_id'),
    pl.col('trip_start_timestamp'),
    pl.col('trip_end_timestamp'),
    pl.col('trip_seconds'),
    pl.col('trip_miles'),
    pl.col('pickup_location_id'),
    pl.col('dropoff_location_id'),
    pl.col('fare'),
    pl.col('tips'),
    pl.col('tolls'),
    pl.col('extras'),
    pl.col('trip_total'),
    pl.col('payment_type')
])

In [221]:
dim_taxi.head()

shape: (5, 2)
┌─────────────────────────────────┬──────────────────────────────┐
│ taxi_id                         ┆ company                      │
│ ---                             ┆ ---                          │
│ str                             ┆ str                          │
╞═════════════════════════════════╪══════════════════════════════╡
│ 4e1cc47be197da1762ea9877e4b007… ┆ Choice Taxi Association Inc  │
│ 0e4b7d65d1783bec4e8d024b4eb2ef… ┆ Taxi Affiliation Services    │
│ 196d0cab116da01f1cb8685842d0ce… ┆ Taxi Affiliation Services    │
│ a56f0fbe0cb06a001c2d19f0aef165… ┆ Flash Cab                    │
│ 634bc0295489ab0b50cebcc10d6d3e… ┆ Taxicab Insurance Agency Llc │
└─────────────────────────────────┴──────────────────────────────┘

In [222]:
dim_location.head()

shape: (5, 4)
┌─────────────┬───────────┬────────────┬──────────────┐
│ location_id ┆ latitude  ┆ longitude  ┆ census_tract │
│ ---         ┆ ---       ┆ ---        ┆ ---          │
│ u32         ┆ f64       ┆ f64        ┆ str          │
╞═════════════╪═══════════╪════════════╪══════════════╡
│ 0           ┆ 41.965812 ┆ -87.655879 ┆ null         │
│ 1           ┆ 41.745758 ┆ -87.708366 ┆ null         │
│ 2           ┆ null      ┆ null       ┆ null         │
│ 3           ┆ 41.927261 ┆ -87.765502 ┆ null         │
│ 4           ┆ 41.97883  ┆ -87.771167 ┆ null         │
└─────────────┴───────────┴────────────┴──────────────┘

In [223]:
dim_time.head()

shape: (5, 3)
┌─────────────────────┬────────────┬──────────┐
│ timestamp           ┆ date       ┆ time     │
│ ---                 ┆ ---        ┆ ---      │
│ datetime[μs]        ┆ date       ┆ time     │
╞═════════════════════╪════════════╪══════════╡
│ 2024-12-31 23:15:00 ┆ 2024-12-31 ┆ 23:15:00 │
│ 2025-01-01 00:00:00 ┆ 2025-01-01 ┆ 00:00:00 │
│ 2024-12-31 23:00:00 ┆ 2024-12-31 ┆ 23:00:00 │
│ 2024-12-31 22:15:00 ┆ 2024-12-31 ┆ 22:15:00 │
│ 2024-12-31 21:45:00 ┆ 2024-12-31 ┆ 21:45:00 │
└─────────────────────┴────────────┴──────────┘

In [224]:
fact_trip.head()

shape: (5, 14)
┌────────────┬────────────┬────────────┬────────────┬───┬───────┬────────┬────────────┬────────────┐
│ trip_id    ┆ taxi_id    ┆ trip_start ┆ trip_end_t ┆ … ┆ tolls ┆ extras ┆ trip_total ┆ payment_ty │
│ ---        ┆ ---        ┆ _timestamp ┆ imestamp   ┆   ┆ ---   ┆ ---    ┆ ---        ┆ pe         │
│ str        ┆ str        ┆ ---        ┆ ---        ┆   ┆ f64   ┆ f64    ┆ f64        ┆ ---        │
│            ┆            ┆ datetime[μ ┆ datetime[μ ┆   ┆       ┆        ┆            ┆ str        │
│            ┆            ┆ s]         ┆ s]         ┆   ┆       ┆        ┆            ┆            │
╞════════════╪════════════╪════════════╪════════════╪═══╪═══════╪════════╪════════════╪════════════╡
│ 604c104c64 ┆ d3b33673ee ┆ 2025-01-01 ┆ 2025-01-01 ┆ … ┆ 0.0   ┆ 0.0    ┆ 25.5       ┆ Unknown    │
│ de68af93a0 ┆ 1a39325983 ┆ 00:00:00   ┆ 00:30:00   ┆   ┆       ┆        ┆            ┆            │
│ f69ed52ba5 ┆ e66d426003 ┆            ┆            ┆   ┆       ┆        ┆            ┆            │
│ …          ┆ …          ┆            ┆            ┆   ┆       ┆        ┆            ┆            │
│ eadda0d366 ┆ 52c3ffa685 ┆ 2025-01-01 ┆ 2025-01-01 ┆ … ┆ 0.0   ┆ 5.5    ┆ 57.75      ┆ Credit     │
│ a84b7b7d70 ┆ a3b5ced3d1 ┆ 00:00:00   ┆ 00:30:00   ┆   ┆       ┆        ┆            ┆ Card       │
│ 5ac0bd93cd ┆ 6461deec5a ┆            ┆            ┆   ┆       ┆        ┆            ┆            │
│ …          ┆ …          ┆            ┆            ┆   ┆       ┆        ┆            ┆            │
│ 9196437a32 ┆ da31cff8b8 ┆ 2025-01-01 ┆ 2025-01-01 ┆ … ┆ 0.0   ┆ 5.0    ┆ 77.62      ┆ Credit     │
│ 265173310d ┆ ee7eb6f5a9 ┆ 00:00:00   ┆ 00:30:00   ┆   ┆       ┆        ┆            ┆ Card       │
│ f6bcb0a964 ┆ 4a452ebfb7 ┆            ┆            ┆   ┆       ┆        ┆            ┆            │
│ …          ┆ …          ┆            ┆            ┆   ┆       ┆        ┆            ┆            │
│ defd0751ba ┆ f35fcc7d28 ┆ 2025-01-01 ┆ 2025-01-01 ┆ … ┆ 0.0   ┆ 0.0    ┆ 8.0        ┆ Credit     │
│ 153874755a ┆ fd3ca0324a ┆ 00:00:00   ┆ 00:00:00   ┆   ┆       ┆        ┆            ┆ Card       │
│ 8ff0cf0ea1 ┆ d6b42c6bf1 ┆            ┆            ┆   ┆       ┆        ┆            ┆            │
│ …          ┆ …          ┆            ┆            ┆   ┆       ┆        ┆            ┆            │
│ a9adc9d11a ┆ 90800746da ┆ 2025-01-01 ┆ 2025-01-01 ┆ … ┆ 0.0   ┆ 5.0    ┆ 59.0       ┆ Credit     │
│ 8a43285604 ┆ 6ccbc73d32 ┆ 00:00:00   ┆ 00:15:00   ┆   ┆       ┆        ┆            ┆ Card       │
│ 37bec5f5df ┆ 33fe1e5f87 ┆            ┆            ┆   ┆       ┆        ┆            ┆            │
│ …          ┆ …          ┆            ┆            ┆   ┆       ┆        ┆            ┆            │
└────────────┴────────────┴────────────┴────────────┴───┴───────┴────────┴────────────┴────────────┘